﻿@model List<Kontakte>
@{
    ViewData["Title"] = "AlleAnzeigen";
}

<h2>Alle Anzeigen</h2>

@if (Model != null)
{
    
    <table border="1">

        <tr>
            <th>
                Vornname
            </th>
            <th>
                Nachnname
            </th>
            <th>
                Geschlecht
            </th>
            <th>
                PLZ
            </th>
            <th>
                Ort
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Vorname
                </td>
                <td>@item.Nachname</td>
                <td>@item.Geschlecht</td>
                <td>@item.Plz</td>
                <td>@item.Ort</td>
            </tr>

        }

    </table>
}
