﻿
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Create", "Home"))
{
    <input type="text" name="vorname" placeholder="Vorname" />
    <input type="text" name="nachname" placeholder="Nachname" />
    <input type="text" name="plz" placeholder="PLZ" />
    <input type="submit" value="Anlegen" />
}
