﻿
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>


@using (Html.BeginForm("Delete", "Home"))
{
    @Html.DropDownList("Liste", "Wähle was aus")
    <br />
    <br />
    <br />
    <input type="submit" value="Löschen"  id="button"/>

}
<br />



<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">


    $("#button").on("click", function () {
        alert("Datensatz wurde gelöscht");
    })

</script>