﻿@model Kontakte
@{
    ViewData["Title"] = "UpdateAnzeigen";
}

<h2>Update Anzeigen</h2>

@if (Model != null)
{
    @using (Html.BeginForm("Update", "Home"))
    {
        <table border="1">
            @Html.HiddenFor(x => x.Id)
            <tr>
                <td>
                    @Html.LabelFor(x => x.Vorname)
                    @Html.EditorFor(x => x.Vorname)
                </td>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Nachname)
                    @Html.EditorFor(x => x.Nachname)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Geschlecht)
                    @Html.EditorFor(x => x.Geschlecht)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Plz)
                    @Html.EditorFor(x => x.Plz)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Ort)
                    @Html.EditorFor(x => x.Ort)

                </td>
            </tr>

        </table>
        <br />
        <input type="submit" value="Ändern" />
    }
}
