﻿
@{
    ViewData["Title"] = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm("UpdateAnzeigen", "Home"))
{
    @Html.DropDownList("Liste", "Wähle was aus")
    <br />
    <br />
    <br />
    <input type="submit" value="Ändern" />

}
<br />
